<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <Repobox.Properties.Settings>
            <setting name="Repobox_PRODIGIA_TimbradoService" serializeAs="String">
                <value>http://www.pade.mx:80/PadeApp/TimbradoService</value>
            </setting>
        </Repobox.Properties.Settings>
    </applicationSettings>
  
</configuration>
